html {
  scroll-behavior: smooth;

}

body {
  scroll-behavior: smooth;
  background-image: url('living-2[368].png');
  background-repeat: no-repeat;
  background-size: cover;
  /* Scale the background image to cover the entire background */
  background-position: center;
  /* Center the background image */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111111d2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 40px 8px 8px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #c7c7c7;
  display: block;
  transition: 0.3s;
}

#text {
  width: auto;
  margin-right: 0%;
  transition: 0.5s;

}

#closeButton {
  position: absolute;
  color: #ececec;
  text-decoration: none;
  border-style: hidden;
  padding: 10px;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
  display: none;
  font-size: 60px;

}

#closeButton:hover {
  color: rgb(197, 49, 49);
  transition: 0.3s;

}


.sidenav a:hover {
  color: #ffffff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 70px;
  font-size: 56px;
  margin-right: 50px;
  margin: auto;
  transition: 0.3s;

}

.open-btn {
  color: #ececec;
  border-style: hidden;
  border-radius: 18px;
  opacity: 0.8;
  padding: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}

#upArrow {
  color: #ececec;

  z-index: 1;
}

.text {
  margin: auto;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;

}

.title {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #bdbdbd;
  background-color: #111111d2;
  text-transform: uppercase;
  font-size: 700%;
  text-decoration: none;
  height: 200px;
  width: 75%;
  object-fit: cover;
}

#titleContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.arrow-button {
  color: #ececec;
  border-style: hidden;
  border-radius: 18px;
  opacity: 0.8;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  z-index: 3;
}

.arrow-button:hover {
  background-color: #3a3a3aac;
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;

}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 0;
  transition: 0.5s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.jobDetails {
  text-wrap: balance;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.jobImg {
  width: 450px;
  margin: 20px;
}

.sidenav p {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 16px;
  transition: 0.5s;
  padding-top: 60px;
  color: #ececec;
}

.applyNow {
  cursor: pointer;
  border-style: solid;
  border-radius: 5px;
  font-size: 24px;
  width: 50%;
  height: 25%;
  margin-top: 100px;
  margin-bottom: 200px;
  padding: 10px;
  transition: 0.2s;
  color: #ececec;
  text-decoration: none;
}

.applyNow:hover {
  background-color: rgb(39, 94, 39);
}

.card {
  float: left;
  box-sizing: border-box;
  color: #c7c7c7;
  border-radius: 18px;
  width: 40%;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: #111111d2;
}

.discription {
  padding-bottom: 40px;
  padding-left: 20px;
  color: #c7c7c7;
  text-wrap: pretty;
  font-size: 20px;
  transition: 0.5s;
  width: auto;
  text-align: left;
}

.overlay {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #c6c6c6;
  text-align: center;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.5s;
  font-size: 15px;
  text-transform: uppercase;
  padding: 20px;
}

.overlay:hover {
  opacity: 1;
}

@media screen and (max-width: 2000px) {
  .card {
    flex: 1 0 48%;
  }
}

@media screen and (max-width: 2000px) {
  .responsive {
    flex: 1 0 48%;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 100%;
  }

}

@media screen and (max-width: 1400px) {
  .card {
    flex: 1 0 48%;
  }
}

@media screen and (max-width: 1400px) {
  .responsive {
    flex: 1 0 48%;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 100%;
  }

}

@media screen and (max-width: 480px) {
  .card {
    width: 90%;
  }

  .row {
    width: 100%;
    padding-left: 0px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    background-attachment: scroll;
  }

  .title {
    font-size: 70px;
    padding: 30px;
  }

}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    flex: 1 0 48%;

  }
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 50px;
    padding: 20px;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

  .title {
    font-size: 30px;
    padding: 10px;
    width: auto;
    height: auto;
  }

  #titleContainer {
    width: auto;
    height: auto;
  }

  #title {
    font-size: 60px;
  }
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 100%;
  }

  .overlay {
    opacity: 1;
    font-size: 100%;
    margin: -4%;
    width: 80%;
    height: auto;
  }

  .jobImg {
    width:250px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}