html {
    scroll-behavior: smooth;
}



body {
    background-image: url('loewe-technology-RjUJHjlRO50-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* Reset default margin to center properly */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the height of the body to full viewport height */

}




.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111111d2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 40px 32px 8px 40px;
    text-decoration: none;
    font-size: 25px;
    color: #c7c7c7;
    display: block;
    transition: 0.3s;
}

#closeButton:hover {
    color: rgb(197, 49, 49);
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 56px;
    margin-right: 50px;
}

.open-btn {
    color: #ececec;
    border-style: hidden;
    border-radius: 18px;
    opacity: 0.8;
    padding: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;

}

.container {
    position: fixed;
    width: 80%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar {
    display: none;
}
.nothing {
    opacity: 0;
}

.text {
  margin: auto;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
}
.discription{
    color: #c7c7c7;
    text-transform: capitalize;
    font-size: 24px;
}
#title{
    color: #c7c7c7;
    text-transform: uppercase;
    line-height: 10px;
    font-size: 100px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}